.Headerbar {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #fbfbfb;
    overflow: hidden;
}

.Logo {
    height: 75%;
}

.Title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

@media (max-width: 550px) {
    .Title {
        display: none;
    }
}